# Ignore cache and system files
__pycache__/
 __MACOSX/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore old files 
ICU*

# Ignore dataset and output files
*.csv
*.tsv
*.json
*.jsonl
*.log
*.out
*.pt  # PyTorch checkpoint files

# Ignore assignment instrucions files
file_struct_README.md
false_alarms_assignment_description.txt

# Ignore dirs
**waveforms/
**raw_data/
**models/
**VTaC/

#Ignore swap and temp files
*.un~
*.swp
*tmp

